a {
  text-decoration: none;
  color: #3399ff;
}
ul.menu li {
  margin: 0;
  padding: 10px;
  display: block;
  float: left;
}
ul.menu li.current { border-bottom: 1px solid white; }
ul.menu li.current a {
  font-size: 13pt;
  color: #000000;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans serif;
  color: #333333;
  font-size: 12pt;
  line-height: 14pt;
}
h2 {
  font-size: 20pt;
  color: #333333;
}
.link {
  padding-left: 0px;
  width: 960px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #cccccc;
  min-height: 110px;
}
.link .total {
  font-size: 16pt;
  font-weight: bold;
  color: #333333;
}
.by_url * .link { border-top: none; }
.chart h1.url {
  font-size: 16pt;
  padding-bottom: 0.4em;
  font-weight: bold;
}
.chart h1.url a {
  text-decoration: none;
  color: #3399ff;
}
ul.menu {
  margin: 0;
  padding: 0;
}
ul.menu li {
  display: inline;
  list-decoration: none;
}
a.info {
  background-color: #3399ff;
  color: #ffffff;
  font-weight: bold;
  padding: 4px;
  padding-top: 3px;
  padding-bottom: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 11pt;
  line-height: 14pt;
  margin-right: 10px;
}
ul.section { padding-bottom: 8px; }
ul.section li { display: inline; }
a.section {
  font-size: 12pt;
  color: #3399ff;
  text-decoration: none;
}
.info a {
  color: #ffffff;
  background-color: #3399ff;
  text-decoration: none;
}
.page-title {
  padding-top: 24pt;
  margin-bottom: 36pt;
}
.page-title p {
  padding-left: 12pt;
  line-height: 20pt;
}
.column-title {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}
.column-titles { padding-bottom: 1em; }
.about { padding-top: 50px; }
.about p {
  font-size: 12pt;
  line-height: 24pt;
}
.right {
  float: right;
  padding-right: 2em;
  width: 80px;
}
#nav {
  text-align: center;
  padding-top: 30px;
  background: #ffffff;
  border-bottom: 1px solid #c0c0c0;
}
#nav:after {
  content: ".";
  display: block;
  line-height: 1px;
  font-size: 1px;
  clear: both;
}
#nav-bar {
  text-align: left;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
ul#nav_items {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
}
ul#nav_items {
  display: block;
  margin-left: 0px;
  width: 960px;
}
ul#nav_items li {
  display: block;
  float: left;
  width: 6em;
  margin: 0 20px 0 0;
  padding: 0;
}
ul#nav_items li.feedback {
  float: right;
  margin-right: 0;
  padding-right: 0;
}
ul#nav_items li a {
  font-size: 14pt;
  font-weight: bold;
  display: block;
  padding: 0.3em 0.1em 0.3em 0.6em;
  color: #3399ff;
  text-decoration: none;
  background-color: #f0f0f0;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  -moz-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
#nav > ul#nav_items li a { width: auto; }
ul#nav_items li.active a {
  color: #000000;
  background-color: #ffffff;
  position: relative;
  top: 2px;
}
ul#nav_items li a:hover { background-color: #ffffff; }
ul#nav_items li.active a:hover { background-color: #ffffff; }
.detail-line { padding-top: 160pt; }
h3.subhead {
  padding-top: 7pt;
  font-size: 16pt;
  color: #333333;
}
p.back { padding-top: 10pt; }
p.back1 {
  padding-top: 0;
  padding-left: 420px;
}
a.back {
  padding: 4pt;
  color: #ffffff;
  font-weight: bold;
  background-color: #3399ff;
}
p.last-updated {
  margin-top: 10pt;
  font-size: 12pt;
}
.by_url .chart h1.url { padding-top: 12pt; }
div.tweets { padding-top: 24pt; }
div.tweets h3 { color: #000000; }
div.sidebar { padding-top: 24pt; }
div.sidebar h3 { color: #000000; }
td.count {
  width: 30px;
  font-size: 12pt;
}
td.screen_name {
  width: 100px;
  font-size: 12pt;
}
td.date {
  font-size: 12pt;
  color: #333333;
  width: 200px;
  text-align: right;
}
.link-placeholder { font-size: 12pt; }
.tweets h4 { font-size: 12pt; }
div.tweets h3 { font-size: 16pt; }
p.text { color: #333333; }
.tweets h4.date {
  padding-top: 12pt;
  padding-bottom: 12pt;
  color: #333333;
}
ul.tweets { padding-bottom: 24pt; }
ul.tweets li.tweet {
  display: block;
  padding-top: 8px;
  border-top: 1px solid #cccccc;
  min-height: 50px;
  height: 50px;
}
div.tweet div.metadata { float: left; }
div.tweet div.metadata p.date {
  color: #333333;
  font-size: 12pt;
  line-height: 16pt;
  padding-bottom: 8px;
}
div.tweet p.text {
  float: left;
  padding-bottom: 8px;
}
.sidebar div { padding-bottom: 24pt; }
.sidebar h3 {
  padding-top: 0;
  padding-bottom: 12pt;
  font-size: 16pt;
}
.sidebar td.text { padding-bottom: 12pt; }
#section-chart {
  position: relative;
  height: 200px;
  background-color: #ffffff;
  width: 960px;
}
#section-chart .bar {
  background-color: #bcbcbc;
  position: absolute;
}
#section-chart .label {
  position: absolute;
  text-align: left;
  font-weight: bold;
  font-size: 12pt;
}
#section-chart .total {
  color: #333333;
  font-weight: normal;
}
#banner {
  width: 100%;
  height: 40px;
  background-color: #dddddd;
}
#banner h1 {
  height: 40px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
  font-size: 26px;
  line-height: 40px;
  background-color: #333333;
  color: #ffffff;
}
#banner h1 a { color: #ffffff; }
#banner p {
  float: left;
  padding-left: 30px;
  font-size: 11pt;
  padding-top: 8px;
}
#banner .links a {
  font-size: 11pt;
  float: right;
  padding-top: 10px;
}
.pubdate, .timeago {
  font-weight: bold;
  width: 8em;
}
.delimiter {
  font-size: 14pt;
  color: #333333;
  width: 3em;
}
#footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #cccccc;
  height: 100px;
  width: 100%;
  position: relative;
}
#footer #rd-logo {
  padding-top: 40px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
body { text-align: center; }
#container {
  width: 960px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#title { text-align: center; }
h1.title {
  font-size: 22pt;
  font-weight: bold;
  color: #000000;
  padding-top: 30px;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#title-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.by-url-body {
  margin-top: 24pt;
  width: 960px;
  border-top: 1px solid #cccccc;
}
.header {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.hidden { display: none; }
#chart_div {
  height: 240px;
  margin-left: -28px;
}
#chart_div .placeholder { margin-left: 28px; }
.info-feedback .info {
  float: left;
  width: 460px;
  padding-right: 100px;
  padding-bottom: 60px;
}
.info-feedback .info p { padding-bottom: 12pt; }
.info-feedback .info p a {
  background-color: #ffffff;
  color: #3399ff;
}
.info-feedback h2 {
  padding-top: 24pt;
  margin-bottom: 24pt;
}
.info-feedback h3 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-size: 16pt;
  font-weight: bold;
}
.info-feedback .feedback {
  float: left;
  padding-bottom: 36pt;
}
.info-feedback .feedback form { padding-top: 12pt; }
.info-feedback .feedback label {
  padding-top: 6pt;
  display: block;
  font-weight: bold;
  padding-bottom: 4pt;
}
.info-feedback .feedback input {
  width: 400px;
  margin-top: 6pt;
  display: block;
}
.info-feedback .feedback input.submit {
  width: auto;
  padding: 4pt;
  border: none;
  margin-top: 12pt;
  display: block;
  color: white;
  font-weight: bold;
  background-color: #3399ff;
}
.info-feedback .feedback textarea {
  margin-top: 6pt;
  width: 400px;
  display: block;
  height: 12em;
}
.info-feedback .feedback .optional { font-weight: normal; }
.info-feedback .error {
  padding: 4pt;
  background-color: #cf8080;
  color: white;
  font-weight: bold;
}
li.feedback {
  display: block;
  float: right;
}
.warning { color: red; }
div.disclaimer {
  margin: 8pt 0 0 0;
  padding: 8pt 8pt 8pt 8pt;
  background-color: #ffcccc;
}
div.disclaimer h4 {
  font-size: 11pt;
  padding: 0 0 6pt 0;
}
a.tweet_link { color: #333333; }
a.tweet_link:hover { color: #3399ff; }
