:consumer_key: CONSUMER_KEY
:consumer_secret: CONSUMER_SECRET
:access_token: ACCESS_TOKEN
:token_secret: TOKEN_SECRET
:host: localhost
:queue: twitter.track
:url: http://stream.twitter.com/1/statuses/filter.json?track=bbc
# report progress every report_limit tweets
:report_limit: 10
# :report_limit: 1000
# :proxy:
#   :host: http://proxy.example.com
#   :port: 80
